header{
    background-color: black;
    color: white;
    padding: 1em;
}
a{
    color: inherit;
}

main{

    text-align: center;
}
article{
    background-color: #F2F2F2;
    margin: 1em 30%;
    padding: 1em;
}